body { background-color:#333; }
#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

/*Animation Snow*/
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}


/*Animation Love You*/
@keyframes myAnimation {
    from {left: 10px;}
    to {left: 1000px;}
}

@-moz-keyframes myAnimation {
    from {left: 10px;}
    to {left: 1000px;}
}

@-webkit-keyframes myAnimation {
    from {left: 10px;}
    to {left: 1000px;}
}

@-o-keyframes myAnimation {
    from {left: 10px;}
    to {left: 1000px;}
}

/*Animation Happy Birth Day*/

@keyframes HappyBDay{
	0%{color: #ff0000;}
	25%{color: #ffff00;}
	50%{color: #7fff00;}
	75%{color: #00ffff;}
	100%{color: #ff00ff;}
}
@-moz-keyframes HappyBDay{
	0%{color: #ff0000;}
	25%{color: #ffff00;}
	50%{color: #7fff00;}
	75%{color: #00ffff;}
	100%{color: #ff00ff;}
}
@-webkit-keyframes HappyBDay{
	0%{color: #ff0000;}
	25%{color: #ffff00;}
	50%{color: #7fff00;}
	75%{color: #00ffff;}
	100%{color: #ff00ff;}
}
@-o-keyframes HappyBDay{
	0%{color: #ff0000;}
	25%{color: #ffff00;}
	50%{color: #7fff00;}
	75%{color: #00ffff;}
	100%{color: #ff00ff;}
}