*{
	box-sizing: border-box;
}
.trang img{
	width: 260px;
	height: 260px;
	transition: all 0.5s ease;
	vertical-align: middle;
	position: relative;
}
#wrap{
	max-width: 1128px;
	margin: auto;
	min-width: 1128px;
}
.trang{
	float: left;
	padding: 5px;
	border: 1px solid #dddddd;
	margin: 5px;
	overflow: hidden;
}
.trang:hover img{
	transform: scale(1.2);
	opacity: 0.8;
	position: relative;
}

p{
	clear: both;
	font-weight: bold;
	font-size: 30px;
	text-align: left;
	color: red;
	position: relative;
    animation: myAnimation 10s ease-out infinite;
    -moz-animation: myAnimation 10s ease-out infinite;
    -webkit-animation: myAnimation 10s ease-out infinite;
    -o-animation: myAnimation 10s ease-out infinite;
}

h1{
	text-align: center;
	color: red;
	animation: HappyBDay 5s ease infinite;
	-moz-animation: HappyBDay 5s ease infinite;
	-webkit-animation: HappyBDay 5s ease infinite;
	-o-animation: HappBDay 5s ease infinite;
}

h2{
	color: red;
	text-align: center;
}